[run]
source = app
omit = 
    */tests/*
    */migrations/*
    */venv/*
    */env/*
    */.venv/*
    */site-packages/*
    */__pycache__/*
    */alembic/*
    */scripts/*
    app/main.py
    app/deps.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if settings.ENVIRONMENT == "testing":
    if TYPE_CHECKING:

ignore_errors = True
show_missing = True
precision = 2

[html]
directory = htmlcov

[xml]
output = coverage.xml